h1,
h2,
h3,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.no-padding {
    padding-top: 0px;
}
.list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    @media screen and (min-width: 768px) { 
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.link {
    text-decoration: none;
}
.item {
    position: relative;
}
