.btn {
    display: block;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @include fonts($fw: 700, $fs: 16px, $ls: 0.06em);
    background-color: var(--accent-txt-color);
    font-family: inherit;
    color: var(--whaite-txt-color);
    line-height: calc(30/16);
    text-align: center;
    @include transition ($transition-property: background-color);
    @include transition ($transition-property:box-shadow);
    
    &:hover,
    &:focus {
        background-color: var(--secondary-bg-btn);
        box-shadow: 0px 4px 4px var(--shadow-color-15);
    }
}
.btn__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: #188CE8;
        @include transition ($transition-property: fill);
    }
}
.btn--submit {
    display: flex;
    border: none;
    margin: 0 auto;
    padding: 10px 50px;
    @include transition;
    &:hover,
    &:focus {
        background: var(--btn-bg-hover);
        box-shadow: 0px 4px 4px var(--shadow-color-15);
    }
}
.btn--small {
    height: 38px;
    padding: 6px 22px;
    background-color: var(--section-bg-color);
    color: var(--primery-txt-color);
    border: none;
    @include fonts($fw: 500);
    @include transition ($transition-property: background-color);
    @include transition ($transition-property: box-shadow);
     @include transition;
    &:hover,
    &:focus {
        color: var(--whaite-txt-color);
        background-color: var(--accent-txt-color);
        box-shadow: 0px 3px 1px var(--shadow-color-01),
        0px 1px 2px var(--shadow-color-08),
        0px 2px 2px var(--shadow-color-12);
    }
}
.btn--active {
    background-color: var(--accent-txt-color);
    color: var(--whaite-txt-color);
    box-shadow: 0px 3px 1px var(--shadow-color-01),
        0px 1px 2px var(--shadow-color-08),
        0px 2px 2px var(--shadow-color-12);
}
.btns__item:not(:last-child) {
    margin-right: 8px;
}
