.card__link {
    display: block;
    @include transition ($transition-property: box-shadow);
    &:hover,
    &:focus {
         box-shadow: 0px 1px 1px var(--shadow-color-12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);}
}
.card__thumb {
    position: relative;
    overflow: hidden;
}
.card__txt {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--border-color);
}
.card__headline {
    margin-bottom: 4px;
    color: var(--primery-txt-color);
    @include fonts($fw: 700, $fs: 18px, $ls: 0.06em);
    line-height: calc(36 / 18);
   
}
.card__descr {
    color: var(--secondary-txt-color);
    @include fonts($fs: 16px);
    line-height: calc(30 / 16);
}