.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
   
}
.footer__wrap {
    align-items:center;
    text-align: center;
    @media screen and (min-width: 768px) {
        display: flex; 
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) { 
        display: flex; 
        align-items: baseline; 
        flex-wrap: nowrap;
        text-align: start;}
}
    
.footer__box {
    padding-left: 124px;  
    padding-right: 124px;
    @media screen and (min-width: 768px) {
        padding-left: 76px;  
        padding-right: 165px;
    }
    @media screen and (min-width: 1200px) {
        padding: 0; 
       
    }
}   
.futer__socials {
    display: block;
}
@media screen and (min-width:768){ 
    .footer__form {
    margin-left: auto; 
}
}
.footer__form {
    padding: 0;
    @media screen and (min-width: 768px) {
        max-width: 768px;
    padding-left: 166px;  
    padding-right: 152px;
    }
    @media screen and (min-width: 1200px) {
        padding: 0; 
        margin-left: auto;

    }
}

