.hero {
  max-width: 480px;
  max-height: 400px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 204;
  padding-right: 204;

  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
  background-position: center;
  background-size: cover;
  background-image: 
  /* mobail */
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/page-1/hero-1/img_sm-@1x.jpg);
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        background-image: 
          linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/page-1/hero-1/img_sm-@2x.jpg);}
    @media screen and (min-width:481px) {
            max-width: 768px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/page-1/hero-1/img_md-@1x.jpg);
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/page-1/hero-1/img_md-@2x.jpg);}
                }
    @media screen and (min-width: 769px) {
            max-width: 1600px;
            height: 600px;
            padding: 200px, 0;
              background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/page-1/hero-1/Img_lg-@1x.jpg);
              @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                  url(../images/page-1/hero-1/Img_lg-@2x.jpg);
              }
            } 
}  
.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--whaite--bg-color);
  @include fonts($fw: 900, $fs: 26px, $ls: 0.06em);
  line-height: calc(42 / 26);
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    @include fonts($fw: 900, $fs: 44px, $ls: 0.06em);
    line-height: calc(60 / 44);
  }
}
.hero__btn{
margin: 0 auto;
padding: 10px 32px;
}
