.portfolio {
 @include section;
}

.portfolio__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio__item {
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
    margin-right: 0;
}
.portfolio__item:hover .overley,
.portfolio__item:focus .overley {
    transform: translateY(0);
}
