.socials__list {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--whaite--bg-color);
    color: var(--social-icon);
    border-radius: 50%;
    @include transition; 
    @include transition ($transition-property:background-color);
    
    &:hover,
    &:focus {
        background-color: var(--accent-txt-color);
        color: var(--whaite--bg-color);
    }
}
.social__icon {
    fill: currentColor;
}
.social__link--dark {
    background-color: var(--social_dark);
    color: var(--whaite--bg-color);
    margin-bottom: 60px;
    @media screen and (min-width: 768px){
        justify-content: center;
    }
}
.socials__title {
    text-align: center;
    margin-bottom: 20px;
    @include fonts($fw:700);
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--whaite-txt-color);
}