.team {
    @include section;
    background-color: var(--section-bg-color);
    @media screen and (min-width:1200px){
        @include section (94px, 94px);
    }
}
.team__item {
    width: 450px;
    box-shadow: 0px 1px 3px var(--shadow-color-12),
        0px 1px 1px var(--shadow-color-14),
        0px 2px 1px var(--shadow-color-02);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--whaite--bg-color);
}
 .team__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
}
.team__txt {
    padding: 30px 0;
}
.team-box__name {
    margin-bottom: 10px;
    @include fonts($fw:500, $fs: 16px);
    color: var(--primery-txt-color);
    line-height: calc(19 / 16);
    text-align: center;
}
.team-box__position {
    padding-bottom: 16px;
    text-align: center;
    @include fonts($fs: 16px);
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--secondary-txt-color);
}