.work {
    display: none;
    @media screen and (min-width: 1200px) {
     display: block;  
     @include section (0, 94px);  
    }
}
.work__item:not(:last-child) {
    margin-right: 30px;
}
.work__box {
    position: relative;
}
.work__txt {
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fonts($fw:700);
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: var(--whaite-txt-color);
    background-color: var(--work-txt-bg);

    position: absolute;
    bottom: 0;
}